{% for item in chrony_allow_hosts %}
allow {{ item }}
{% endfor %}
{% if not ansible_facts.os_family == 'RedHat' %}
commandkey 1
{% endif %}
driftfile /var/lib/chrony/chrony.drift
dumpdir {{ chrony_dumpdir }}
dumponexit
keyfile {{ chrony_keys }}
{% if chrony_local_stratum | bool | default(false) %}
local stratum {{ chrony_local_stratum }}
{% endif %}
log {{ chrony_log|join(' ') }}
logchange 0.5
logdir {{ chrony_logdir }}
maxupdateskew {{ chrony_maxupdateskew }}
rtconutc
{% if chrony_rtcsync_enabled | bool %}
rtcsync
{% endif %}
{% for item in chrony_ntp_servers %}
{{ item.type | default('server') }} {{ item.server }}{% for opt in item.options | default([]) %} {{ opt.option }}{% if opt.val is defined %} {{ opt.val }}{% endif %}{% endfor %}

{% endfor %}
